html {
  font-size: 20px;
  font-family: 'Abel', sans-serif;
  text-align: center;
  background-color: black;
}

body {
  width: 750px;
  margin: 20px auto;
  background-color: #901C2A;
  padding: 0 20px 20px 20px;
  border: 5px solid #c0c0c0;
}

h1 {
  margin: 0;
  padding: 20px 0;
}

.top {
  margin: 20px 0;
  padding: 0;
  text-align: center;
  width: 42ch;
  border-right: 0.08em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(21, end), caret .5s step-end;
}

@keyframes typing {from {width: 0; }}
@keyframes caret { 50% { border-color: transparent; } }

img {
  margin: 0 auto;
  width: 50px;
}